<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kings.yatharth.wheatstonetelegraphkeyboard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".controller.MyKeyboard"
            android:label="@string/my_keyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name=".controller.HomeTimeline"
            android:label="Home" />
        <activity
            android:name=".controller.SearchPage"
            android:label="Search" />
        <activity
            android:name=".controller.ComposeTweet"
            android:label="Compose" />
        <activity android:name=".controller.OpenLink" />
        <activity android:name=".controller.Tutorial" />
    </application>

</manifest>